.DS_Store
code/test_file/qsbxz.mp4
*.exe
code/win/2-FFmpeg/05-flv_parser_cplus/.idea/editor.xml
note/5.ffmpeg编程/.$open_video.drawio.bkp
note/5.ffmpeg编程/.$open_video.drawio.dtmp

/code/win/1-SDL/01-sdl-basic/bin/
/code/win/1-SDL/02-sdl-window/bin/
/code/win/1-SDL/03-sdl_event/bin/
/code/win/1-SDL/04-sdl-thread/bin/
/code/win/1-SDL/05-sdl-yuv/bin/
/code/win/1-SDL/06-sdl-pcm/bin/
/code/win/2-FFmpeg/01-basic/bin
/code/win/2-FFmpeg/02-demux/bin
/code/win/2-FFmpeg/03-extract-aac/bin
/code/win/2-FFmpeg/04-extract-h264/bin
/code/win/2-FFmpeg/05-flv_parser_cplus/cmake-build-debug
/code/win/2-FFmpeg/06-decode_audio/cmake-build-debug
/code/win/2-FFmpeg/07-decode_video/cmake-build-debug
/code/win/2-FFmpeg/08-demux-mp4/cmake-build-debug
/code/win/2-FFmpeg/09-avio_decode_audio/cmake-build-debug
/code/win/2-FFmpeg/10-audio_resample/cmake-build-debug
/code/win/2-FFmpeg/11-audio_resample_2/cmake-build-debug
/code/win/2-FFmpeg/12-encode_audio/cmake-build-debug
/code/win/2-FFmpeg/13-encode_video/cmake-build-debug
/code/win/2-FFmpeg/14-muxing_flv/cmake-build-debug
/code/win/2-FFmpeg/15-mp4_muxer/cmake-build-debug
/code/win/2-FFmpeg/16-video-filter/cmake-build-debug
/code/win/2-FFmpeg/17-audio-mix/cmake-build-debug
/code/win/2-FFmpeg/16-video-filter_2/cmake-build-debug
/code/win/2-FFmpeg/18-picture-watermark/cmake-build-debug
/code/win/3-ffplay/01-ffplay/cmake-build-debug
/code/win/3-ffplay/01-ffplay_cpp/cmake-build-debug
/code/win/4-player/player/cmake-build-debug
/code/win/4-player/Xplay2/cmake-build-debug
/code/win/4-player/TestQtAudioSink/cmake-build-debug
/code/win/4-player/TestQtAudioSink/.idea
/code/win/4-player/TestQtOpenGL/cmake-build-debug
/code/win/4-player/TestQtOpenGL/.idea
/code/win/4-player/TestQtOpenGL_2/cmake-build-debug
/code/win/4-player/TestQtOpenGL_2/.idea
/code/win/4-player/XPlay2/.idea
/code/win/4-player/XPlay2/cmake-build-debug
/code/mac/1-SDL/01-sdl-basic/bin/
/code/mac/1-SDL/02-sdl-window/bin/
/code/mac/1-SDL/03-sdl_event/bin/
/code/mac/1-SDL/04-sdl-thread/bin/
/code/mac/1-SDL/05-sdl-yuv/bin/
/code/mac/1-SDL/06-sdl-pcm/bin/
/code/XCJ/101.RGB_TEST/.idea
/code/XCJ/101.RGB_TEST/cmake-*
/code/XCJ/102.SDL_RGB/.idea
/code/XCJ/102.SDL_RGB/cmake-*
/code/XCJ/103.SDL_QT_RGB/.idea
/code/XCJ/103.SDL_QT_RGB/cmake-*
/code/XCJ/104.SDL_QT_RGB_merge/cmake-*
/code/XCJ/104.SDL_QT_RGB_merge/.idea
/code/XCJ/105.SDL_QT_PLAY_YUV/cmake-*
/code/XCJ/105.SDL_QT_PLAY_YUV/.idea
/code/XCJ/106.XVideo_View_Test/cmake-*
/code/XCJ/106.XVideo_View_Test/.idea
/code/XCJ/108.XVideo_View_AVFrame_test/cmake-*
/code/XCJ/108.XVideo_View_AVFrame_test/.idea
/code/XCJ/109.test_sleep_fps/cmake-*
/code/XCJ/109.test_sleep_fps/.idea
/code/XCJ/110.XVideo_View_AVFrame_pts/cmake-*
/code/XCJ/110.XVideo_View_AVFrame_pts/.idea
/code/XCJ/111.test_sws_cale/cmake-*
/code/XCJ/111.test_sws_cale/.idea
/code/XCJ/112.yuv_rgb_player/cmake-*
/code/XCJ/112.yuv_rgb_player/.idea
/code/XCJ/113.first_encode/cmake-*
/code/XCJ/113.first_encode/.idea
/code/XCJ/114.preset_encode/cmake-*
/code/XCJ/114.preset_encode/.idea
/code/XCJ/115_gop_nalu_sps_pps_encode/cmake-*
/code/XCJ/115_gop_nalu_sps_pps_encode/.idea
/code/XCJ/116.test_xencode/cmake-*
/code/XCJ/116.test_xencode/.idea
/code/XCJ/117.test_decode/cmake-*
/code/XCJ/117.test_decode/.idea
/code/XCJ/118.test_decode_view/cmake-*
/code/XCJ/118.test_decode_view/.idea
/code/XCJ/119.test_decode_view_hw/cmake-*
/code/XCJ/119.test_decode_view_hw/.idea
/code/XCJ/120.test_xdecode/cmake-*
/code/XCJ/120.test_xdecode/.idea
/code/XCJ/121.test_demux/cmake-*
/code/XCJ/121.test_demux/.idea
/code/XCJ/122.test_demux_play/cmake-*
/code/XCJ/122.test_demux_play/.idea
/code/XCJ/123.test_remux/cmake-*
/code/XCJ/123.test_remux/.idea
/code/XCJ/124.test_xformat/cmake-*
/code/XCJ/124.test_xformat/.idea
/code/XCJ/125.recodec_remux/.idea
/code/XCJ/125.recodec_remux/cmake-*
/code/XCJ/126.rtsp_demux_thread/cmake-*
/code/XCJ/126.rtsp_demux_thread/.idea
/code/XCJ/127.rtsp_demux_decode_chain/cmake-*
/code/XCJ/127.rtsp_demux_decode_chain/.idea
/code/XCJ/128.rtsp_demux_decode_view/cmake-*
/code/XCJ/128.rtsp_demux_decode_view/.idea
/code/XCJ/129.rtsp_demux_decode_chain/cmake-*
/code/XCJ/129.rtsp_demux_decode_chain/.idea
/code/XCJ/130.SDL_Audio/cmake-*
/code/XCJ/130.SDL_Audio/.idea
/code/XCJ/131.test_xaudio_play/cmake-*
/code/XCJ/131.test_xaudio_play/.idea
/code/XCJ/132.test_xcodec_xaudio_play/cmake-*
/code/XCJ/132.test_xcodec_xaudio_play/.idea
/code/XCJ/133.test_xplay/cmake-*
/code/XCJ/133.test_xplay/.idea
/code/XCJ/xviewer01/cmake-*
/code/XCJ/xviewer01/.idea
/code/XCJ/xviewer02/cmake-*
/code/XCJ/xviewer02/.idea
/code/xlib/cmake-*
/code/xlib/.idea
